

{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set item = entry ?? false %}

{% if item %}
<article class="banner section">

	{% include '_blocks/partials/heading' %}

	<div class="banner__int wrapper max-w-slim"
        data-animations='{
			"transition": "inview",
			"childTarget": "[data-children]",
            "translateOffset": [150,0]
    }'>
		
        {% set heading = item['heading'] ?? false %}
        {% set intro = item['intro'] ?? false %}
        {% set image = item['image'] ?? false %}

        <div class="banner__item" data-children>

            {{format.getLinkAria(item)}}

            {% if item.image %}
            <div class="banner__image-container">
                {{ transform.getImage({
                    'asset': item.image|default,
                    'transform': 'fluid',
                    'wrapperClasses': "banner__image-wrapper",
                    'classes': "banner__image",
                    'placeholder': true
                }) }}
            </div>
            {% endif %}

            <div class="banner__info">
                <div class="banner__info-int">
                    {% if item.heading|default %}
                    <p class="banner__heading faux-h3">{{ format.basic(item.heading) }}</p>
                    {% endif %}

                    {{item.intro|retconAttr('p', { class: 'banner__intro' })|retconAttr('a', { class: 'link' })}}
                    
                    {% include '_blocks/buttons' with { entry: item, options: {layout: 'center', classes:'btn btn--arrow btn--outline banner__btn link'}  } only %}
                </div>
            </div>

        </div>			

	</div>
</article>
{% endif %}