{% import '_utilities/format' as format %}



{% set layout = entry['layoutForms'] ?? 'contact' %}
{% set background = entry['background']['color'][0]['background']|default('bg--none') %}

{% set defaultAttr = {
    class: [
        'forms form-default',
        'section',
        background != 'bg--none' ? background ~ ' section-padding' : background,
    ]
} %}

<article {{attr(defaultAttr)}}>

	{% include '_blocks/partials/recaptcha' %}

	<div class="form-header-wrapper">
	{% include '_blocks/partials/formHeading' %}
	</div>

	<div class="form-form-wrapper wrapper-text">
		{% include "_blocks/layouts/forms/#{layout}" %}
	</div>
</article>
