{# data being passed from 'widgetBlock' - the builder block #}

{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set item = entry ?? false %}

{% if item %}

{% set heading = item['heading'] ?? false %}
{% set intro = item['intro'] ?? false %}
{% set image = item['image'] ?? false %}

<article class="spotlight section">
	
	{% include '_blocks/partials/heading' %}

	<div class="spotlight__int wrapper">

		<div class="spotlight__image-container">
			{{ transform.getImage({
			'asset': image,
			'transform': 'hero',
			'wrapperClasses': "spotlight__image-wrapper relaive",
			'classes': "spotlight__image",
			'placeholder': true,
			'preload': preloadImage ?? false
			}) }}
		</div>

		<div class="spotlight__info">
			<div class="spotlight__info-int bg--body-medium">
				<div>
					{% if heading %}
					<h2 class="faux-h3">{{ format.basic(heading) }}</h2>
					{% endif %}
					
					{{item.intro}}

					{% include '_blocks/buttons' with { entry: item, options: {classes:'btn btn--arrow spotlight__btn'}  } only %}
				</div>
			</div>
		</div>

	</div>
</article>
{% endif %}