{% extends '_layouts' %}

{% block main %}
    <article class="site-error section relative">
        <div class="wrapper">
            <h1>{{ message }} ({{ statusCode }})</h1>
        </div>
    </article>
{% endblock %}

