https://craftcms.com/docs/5.x/reference/twig/tags.html#tag


{% set tag = isFirstKind ? 'h1' : 'h2' %}

{{tag(tag, {
    class: "text-image-split__heading #{not isFirstKind ? 'test'}",
    html: format.basic(heading), 
}) }}


/////////////////////////////////////


{{ tag(tag, {
    class: classes,
    href: link ? link.value : false,
    target: link ? link.target,
    rel: link and link.target == '_blank' ? 'noopener noreferrer' : null,
}) }}


/////////////////////////////////////

{% set link = item.linkUrl ?? false %}
{% set tag = link ? 'a' : 'div' %}

{% tag tag with {
        class: 'footer-logo',
        href: link ? link.value : false,
        target: link ? link.target,
        rel: link and link.target == '_blank' ? 'noopener noreferrer' : null,
    } 
%}

    test

{% endtag %}


/////////////////////////////////////


{% tag 'div' with {
    class: 'foo',
  } %}
      Hello, {{ currentUser.friendlyName }}
{% endtag %}


/////////////////////////////////////


{% set defaultAttr = {
    class: [
        'columns__container',
        background,
        'bg--none' in background ? 'wrapper' : 'section-padding',
    ]
} %}


<div {{attr(defaultAttr)}}>
    content goes here
</div>
/////////////////////////////////////