{% extends "_layouts/" %}

{% block main %}
<modal btn-classes="btn--arrow" label="modal one">
    <template #button>
        Modal 1 btn
    </template>

    {# content inside modal goes here #}
    <div>Hello world</div>
</modal>

<hr style="margin-bottom:30px;" />

<modal btn-classes="btn--outline btn--arrow" wrapper-classes="cutom-modal" label="modal two">
    <template #button>
        Modal 2 btn
    </template>

    {# content inside modal goes here #}
    <div>Hello world 2 - btn 2 content</div>
</modal>



<hr style="margin-bottom:30px;" />

{# example of not using button slot #}
<button class="btn btn--underline" @click="$refs.modal3.open()">Modal 3</button>

<modal ref="modal3" label="modal custom">
    <div>Hello world, modal 3</div>
</modal>

{% endblock %}