{% import '_utilities/nav' as nav %}

{% set categories = craft.categories().group('blogCategory').orderBy('lft ASC').collect() ?? false %}
{% set currCatId = category is defined ? category.id : -1 %}

{% if categories|length > 0 %}
<div class="blog-nav section relative">
    <div class="blog-nav__int wrapper">

        <span class="blog-nav__label uppercase ">Categories:</span>

        <div class="blog-nav__wrapper relative overflow-hidden">
            <div class="scroller-nav-container">
                <scroll-nav class="blog-nav__items ignore">
                    {{ nav.standard(categories)}}
                </scroll-nav>
            </div>
        </div>
        
    </div>
</div>
{% endif %}