{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}


{% set heading = entry['heading'] ?? false %}
{% set preheading = entry['preheading'] ?? false %}
{% set intro = entry['intro'] ?? false %}
{% set image = entry['backgroundImage'] ?? false %}

<article class="hero-parallax section-padding relative" data-hero-parallax>
	<div class="hero-parallax__int wrapper">
	
		{{ transform.getImage({
			'asset': image,
			'transform': 'hero',
			'to-lg': 'heroLg',
			'to-sm': 'heroSm',
			'wrapperClasses': "hero-parallax__image-wrapper",
			'classes': "hero-parallax__image object-fit",
			'placeholder': true,
			'preload': preloadImage ?? false
		}) }}

		<div class="hero-parallax__info bg--dark" data-hero-info>
			<div class="hero-parallax__info-int">
				{% if heading %}   
					<p class="hero-parallax__heading faux-h2">{{ format.basic(heading) }}</p>
				{% endif %}
				
				{% if intro %}
				{{intro|retconAttr('p', { class: 'faux-p-lg hero-parallax__intro' })}}
				{% endif %}

				{% include '_blocks/buttons' with { entry: entry, options: {classes:'btn btn--arrow btn--sm hero-parallax__btn'}  } only %}
				
				{#
				{% if entry.linkUrl|default %}
					{{format.getLink(entry.linkUrl,entry.linkText,'btn btn--arrow btn--sm hero-parallax__btn')}}
				{% endif %}
				#}
				
			</div>
		</div>
	</div>
</article>
