{% extends "_layouts/" %}

{% block main %}
<div class="section">
    <div class="wrapper-text">

        <h1>Fonts</h1>

        <div style="margin-top:100px"></div>

        <div>
            <p class="faux-sh">Duis ligula efficitur nam</p>
        </div>
        <div style="margin-top:50px">
            <h1>Duis ligula efficitur </h1>
        </div>
        <div style="margin-top:50px">
            <h2>Duis ligula efficitur nam</h2>
        </div>
        <div style="margin-top:50px">
            <h3>Duis ligula efficitur nam</h3>
        </div>
        <div style="margin-top:50px">
            <h4>Duis ligula efficitur nam</h4>
        </div>
        <div style="margin-top:50px">
            <h5>Duis ligula efficitur nam</h5>
        </div>
        <div style="margin-top:50px">
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <div style="margin-top:100px">
            <hr />
        </div>

        <div style="margin-top:50px">
            <h1>The quick brown fox jumps over the lazy dog.</h1>
        </div>
        <div style="margin-top:50px">
            <h2>The quick brown fox jumps over the lazy dog.</h2>
        </div>
        <div style="margin-top:50px">
            <h3>The quick brown fox jumps over the lazy dog.</h3>
        </div>
        <div style="margin-top:50px">
            <h4>The quick brown fox jumps over the lazy dog.</h4>
        </div>
        <div style="margin-top:50px">
            <h5>The quick brown fox jumps over the lazy dog.</h5>
        </div>
        <div style="margin-top:50px">
            <h6>The quick brown fox jumps over the lazy dog.</h6>
        </div>


        <div style="margin-top:100px">
            <hr />
        </div>

        <div class="pt-s8 max-w-[580px]">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus.</p>
            <p class="faux-p">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
                magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</p>
            <p class="faux-p-sm">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</p>
            <p class="faux-p-xs">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</p>
            {#
            <p class="faux-p-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis tristique est in
                ornare nunc
                leo lacinia congue. Venenatis lorem at in suspendisse.</p>
            <p class="faux-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis tristique est in ornare
                nunc
                leo lacinia congue. Venenatis lorem at in suspendisse ipsum. Tincidunt dui nunc in aliquam ac. Magna
                iaculis
                nisl faucibus velit sit et quis.</p>
            <p class="faux-p-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis tristique est in
                ornare nunc
                leo lacinia congue. Venenatis lorem at in suspendisse ipsum. Tincidunt dui nunc in aliquam ac. Magna
                iaculis
                nisl faucibus velit sit et.</p>
            <p class="faux-p-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis tristique est in
                ornare nunc
                leo lacinia congue. Venenatis lorem at in suspendisse ipsum. Tincidunt dui nunc in aliquam ac. Magna
                iaculis
                nisl faucibus velit sit et quis.</p>
            #}
            <blockquote>
                <header>
                    <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna.
                    </p>
                </header>
                <footer>
                    Name
                    <cite title="Title, Company">Title, Company</cite>
                </footer>
            </blockquote>

            <p class="faux-p">Per viverra <a href="/">https://www.dignissim.com</a> sapien nec himenaeos quisque
                fringilla
                faucibus, congue elit litora magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare
                rutrum.
            </p>

            <ul>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            </ul>

            <ul>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                    <ul>
                        <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
                            magna dis
                            primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                            <ul>
                                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                    litora
                                    magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                                </li>
                                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                    litora
                                    magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                                </li>
                            </ul>
                        </li>
                        <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
                            magna dis
                            primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    </ul>
                </li>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            </ul>


            <ol>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            </ol>

            <ol>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                    <ol>
                        <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
                            magna dis
                            primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                            <ol>
                                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                    litora
                                    magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                                </li>
                                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                    litora
                                    magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                                </li>
                            </ol>
                        </li>
                        <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
                            magna dis
                            primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    </ol>
                </li>
                <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                    primis
                    sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            </ol>
        </div>

        <div style="margin-top:100px"></div>

        <hr />
        <strong>SH</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <p class="faux-sh">Duis ligula efficitur nam</p>
        </div>

        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <p class="faux-sh">Duis ligula efficitur nam</p>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <p class="faux-sh">Duis ligula efficitur nam</p>
        </div>

        <hr />
        <strong>H1</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h1>Duis ligula efficitur </h1>
        </div>

        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h1>Duis ligula efficitur </h1>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h1>Duis ligula efficitur </h1>
        </div>

        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h1>Duis ligula efficitur </h1>
        </div>


        <hr />
        <strong>H2</strong>
        <hr />
        <div style="margin-top:100px"></div>



        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h2>Duis ligula efficitur nam</h2>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <h2>Duis ligula efficitur nam</h2>
        </div>
        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h2>Duis ligula efficitur nam</h2>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h2>Duis ligula efficitur nam</h2>
        </div>
        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h2>Duis ligula efficitur nam</h2>
        </div>
        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <h2>Duis ligula efficitur nam</h2>
        </div>
        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <h2>Duis ligula efficitur nam</h2>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
            <h2>Duis ligula efficitur nam</h2>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
            <h2>Duis ligula efficitur nam</h2>
        </div>


        <hr />
        <strong>H3</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h3>Duis ligula efficitur nam</h3>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <h3>Duis ligula efficitur nam</h3>
        </div>
        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h3>Duis ligula efficitur nam</h3>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h3>Duis ligula efficitur nam</h3>
        </div>
        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h3>Duis ligula efficitur nam</h3>
        </div>
        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <h3>Duis ligula efficitur nam</h3>
        </div>
        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <h3>Duis ligula efficitur nam</h3>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
            <h3>Duis ligula efficitur nam</h3>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
            <h3>Duis ligula efficitur nam</h3>
        </div>


        <hr />
        <strong>H4</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h4>Duis ligula efficitur nam</h4>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <h4>Duis ligula efficitur nam</h4>
        </div>
        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h4>Duis ligula efficitur nam</h4>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h4>Duis ligula efficitur nam</h4>
        </div>
        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h4>Duis ligula efficitur nam</h4>
        </div>
        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <h4>Duis ligula efficitur nam</h4>
        </div>
        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <h4>Duis ligula efficitur nam</h4>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
            <h4>Duis ligula efficitur nam</h4>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
            <h4>Duis ligula efficitur nam</h4>
        </div>

        <hr />
        <strong>H5</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h5>Duis ligula efficitur nam</h5>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <h5>Duis ligula efficitur nam</h5>
        </div>
        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h5>Duis ligula efficitur nam</h5>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h5>Duis ligula efficitur nam</h5>
        </div>
        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h5>Duis ligula efficitur nam</h5>
        </div>
        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <h5>Duis ligula efficitur nam</h5>
        </div>
        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <h5>Duis ligula efficitur nam</h5>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
            <h5>Duis ligula efficitur nam</h5>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
            <h5>Duis ligula efficitur nam</h5>
        </div>


        <hr />
        <strong>H6</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <h6>Duis ligula efficitur nam</h6>
        </div>
        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <h6>Duis ligula efficitur nam</h6>
        </div>
        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <h6>Duis ligula efficitur nam</h6>
        </div>
        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <h6>Duis ligula efficitur nam</h6>
        </div>
        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
            <h6>Duis ligula efficitur nam</h6>
        </div>

        <hr />
        <strong>P LG</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
        </div>

        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, </p>
        </div>

        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <hr />
        <strong>P</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h1>Duis ligula efficitur </h1>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
        </div>

        <div style="margin-bottom:60px">
            <h2>Duis ligula efficitur nam</h2>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h3>Duis ligula efficitur nam</h3>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, </p>
        </div>

        <div style="margin-bottom:60px">
            <h4>Duis ligula efficitur nam</h4>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h5>Duis ligula efficitur nam</h5>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <h6>Duis ligula efficitur nam</h6>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <p class="faux-p-lg">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <div style="margin-bottom:60px">
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis sed
                tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <hr />
        <strong>P SM</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <p class="faux-p-sm">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

        <hr />
        <strong>P XS</strong>
        <hr />
        <div style="margin-top:100px"></div>

        <div style="margin-bottom:60px">
            <p class="faux-sh">Duis ligula efficitur nam</p>
            <p class="faux-p-xs">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                litora magna
                dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        </div>

    </div>

    <div class="max-w-[740px] mx-auto mb-s14">
        <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis primis
            sed
            tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</p>
        <ul>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                <ul>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                        <ul>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis primis
            sed
            tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </P>
        <p class="faux-p-sm">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
            magna
            dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        <p class="faux-p-xs">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
            magna
            dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
    </div>

    <div class="max-w-[645px] mx-auto mb-s14">
        <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis primis
            sed
            tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</p>
        <ol>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis
                primis
                sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                <ol>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                    <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna
                        dis
                        primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.
                        <ol>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                            <li>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit
                                litora
                                magna dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>

        <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna dis primis
            sed
            tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </P>
        <p class="faux-p-sm">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
            magna
            dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
        <p class="faux-p-xs">Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora
            magna
            dis primis sed tempor nisl, senectus fusce cubilia ipsum duis ornare rutrum. </p>
    </div>

    <div style="max-width:645px;margin:100px auto 100px; padding-bottom: 100px;">
        <blockquote>
            <p>Per viverra dignissim sapien nec himenaeos quisque fringilla faucibus, congue elit litora magna.</p>
            <footer>
                Name
                <cite title="Title, Company">Title, Company</cite>
            </footer>
        </blockquote>
    </div>
</div>
</div>
{% endblock %}