{% set social = {
	'twitter': seomatic.site.sameAsLinks["twitter"]["url"] ?? false,
	'facebook': seomatic.site.sameAsLinks["facebook"]["url"] ?? false,
	'linkedin': seomatic.site.sameAsLinks["linkedin"]["url"] ?? false,
	'instagram': seomatic.site.sameAsLinks["instagram"]["url"] ?? false,
	'youtube': seomatic.site.sameAsLinks["youtube"]["url"] ?? false,
}%}

{% for key, item in social|filter(item => item) %}
<li class="social__item">
    <a class="social__link ignore" href="{{item}}" target="_blank" rel="noopener" aria-label="Link to {{key}} profile" title="Link to {{key}} profile">
        {{ svg("@webroot/assets/social/#{key}.svg")|attr({
            class: 'icon'
        }) }}
    </a>
</li>
{% endfor %}