{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %} 

{% set heading = item['heading'] ?? false %}
{% set intro = item['intro'] ?? false %}
{% set image = item['image'].one() ?? false %}

<div class="card__item relative bg--none" data-children>

    {{format.getLinkAria(item)}}

    {% if image %}
        {{ transform.getImage({
            'asset': image,
            'transform': 'card',
            'wrapperClasses': "card__image-wrapper",
            'classes': "card__image object-fit",
            'placeholder': true
        }) }}
    {% endif %}

    <div class="card__info">
        <div class="card__info-int text-center">

            <div>
            {% if heading %}
            <p class="card__heading faux-p-lg">{{ format.basic(heading) }}</p>
            {% endif %}

            {{intro|retconAttr('p', { class: 'card__intro' })|retconAttr('a', { class: 'link' })}}
            </div>

            {% include '_blocks/buttons' with { entry: item, options: {classes:'btn btn--arrow btn--outline card__btn link', firstClasses: 'btn btn--arrow card__btn link'}  } only %}
        </div>
    </div>
</div>