
{#      
breakpoints='{
    "1024": {
        "slidesPerView": "auto",
        "spaceBetween": "50"
    }
}'    
#}

{# need min of 6 slides #}
{% set total = items|length %}
{% set loopN = total < 6 ? 6 - total : 1 %}

<article class="slider-slants relative">

	{% include '_blocks/partials/heading' %}

	<div class="slider-slants__int">
            
        <swiper-container id="material" class="slider-slants__container swiper-material"
            init="false"
            navigation="true"
            speed="900"
            grab-cursor="true" 
            slides-per-view="1.5"
            effect="material"
            centered-slides="true"
            loop="true"
            loop-prevents-sliding="true"
            navigation="true"
        >

            {% for i in 1..loopN %}
                {% for item in items %}
                <swiper-slide class="slider-slants__slide swiper-slide">
                    <div class="slider-slants__wrapper swiper-material-wrapper">
                        <div class="slider-slants__content swiper-material-content">
                            {% include "_blocks/partials/sliders/slantPartial" with { item: item, index: loop.index } only %}
                        </div>
                    </div>
                </swiper-slide>
                {% endfor %}
            {% endfor %}

        </swiper-container>
		
	</div>
</article>