{% extends '_layouts' %}

{% block main %}
    <article class="site-error section relative">
        <div class="wrapper">
            <h1>Sorry, our site is currently unavailable (503)</h1>
        </div>
    </article>
{% endblock %}