<article class="image-text-show section relative">

	{% include '_blocks/partials/heading' %}

	<div class="image-text-show__int">
		<div class="image-text-show__items">

			{% for item in items %}
				{% include "_blocks/partials/imageText/showPartial" with { item: item, index: loop.index0, reverse: reverse, uid: uid } only %}
			{% endfor %}

		</div>
	</div>
</article>