<article class="image-text-default section relative">

	{% include '_blocks/partials/heading' %}

	<div class="image-text-default__int wrapper">
		<div class="image-text-default__items" data-animations='{
			"transition": "inview",
			"childTarget": "[data-children]"
    	}'>

			{% for item in items %}
				{% include "_blocks/partials/imageText/defaultPartial" with { item: item, index: loop.index0, reverse: reverse } only %}
			{% endfor %}

		</div>
	</div>
</article>