{% set featured = craft.entries().section('blog').one() %}
{% set items = craft.entries()
	.section('blog')
	.offset(1)
	.limit(9)
%}

<div class="blog-container">
	{% include '_blocks/layouts/posts/_posts' with{postType: "Blog", items: items, featuredItem: featured} %}
</div>