

<article class="card card--grid section relative">

	{% include '_blocks/partials/heading' %}

	<div class="card__int wrapper max-w-slim">
		<div class="card__items"
			data-animations='{
			"transition": "inview",
			"childTarget": "[data-children]",
			"direction": "x"
        }'>

			{% for item in items %}
				{% include "_blocks/partials/cards/gridPartial" with { item: item, index: loop.index } only %}
			{% endfor %}

		</div>
	</div>
</article>