

<article class="card-large section relative">

	{% include '_blocks/partials/heading' %}

	<div class="card-large__int wrapper max-w-slim">
		<div class="card-large__items" data-animations="{{ {
			transition: 'inview',
			childTarget: '[data-children]',
            translateOffset: [150, 0]
    	}|json_encode }}">

			{% for item in items %}
				{% include "_blocks/partials/cards/largePartial" with { item: item, index: loop.index } only %}
			{% endfor %}

		</div>
	</div>
</article>