.activity-sheet__int{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
}

.activity-sheet__badge{
    margin-bottom: var(--spacer-4);
}

.activity-sheet__intro{
    margin-top: var(--spacer-2);
    max-width: 480px;
}

.activity-sheet__btn{
    margin-top: var(--spacer-5);
}
