
{#      
breakpoints='{
    "1024": {
        "slidesPerView": "auto",
        "spaceBetween": "50"
    }
}'    
#}

{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

<article class="slider-heros relative">

	{% include '_blocks/partials/heading' %}

	<div class="slider-heros__int">
            
        <swiper-container id="material" class="slider-heros__container swiper-wrapper"
            init="false"
            navigation="true"
            speed="900"
            grab-cursor="true" 
            slides-per-view="1"
            effect="material"
            centered-slides="true"
            loop="true"
            loop-prevents-sliding="true"
            navigation="true"
        >

            
            {% for item in items %}
            <swiper-slide class="slider-heros__slide swiper-slide">
                <div class="slider-heros__wrapper swiper-material-wrapper">
                    <div class="slider-heros__content swiper-material-content">
                        {% set preloadImage = loop.first and (preloadImage ?? false) %}
                        {% set index = loop.index %}
                        
                        {% set heading = item['heading'] ?? false %}
                        {% set preheading = item['preheading'] ?? false %}
                        {% set intro = item['intro'] ?? false %}
                        {% set image = item['image'] ?? false %}

                        <div class="slider-hero__item relative">

                            {{format.getLinkAria(item.linkUrl)}}

                            {% if image %}
                            <div class="slider-hero__image-container" data-swiper-material-scale="1.25">
                                {{ transform.getImage({
                                    'asset': image,
                                    'transform': 'hero',
                                    'wrapperClasses': "slider-hero__image-wrapper",
                                    'classes': "slider-hero__image object-fit",
                                    'placeholder': true,
                                    'preload': preloadImage ?? false
                                }) }}
                            </div>
                            {% endif %}

                            {#
                            <div class="card__info">
                                <div class="card__info-int text-center">

                                    <div>
                                    {% if heading %}
                                    <p class="card__heading faux-p-lg">{{ format.basic(heading) }}</p>
                                    {% endif %}

                                    {{intro|retconAttr('p', { class: 'card__intro' })|retconAttr('a', { class: 'link' })}}
                                    </div>

                                    {% include '_blocks/buttons' with { entry: item, options: {classes:'btn card__btn link'}  } only %}
                                </div>
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            </swiper-slide>
            {% endfor %}

            <div slot="container-end">
                <div class="slider-heros__actions swiper-actions wrapper">
                    <div class="slider-heros__actions-int">
                        <div class="swiper-pag"></div>
                    </div>
                </div>
            </div>

        </swiper-container>
		
	</div>
</article>