
{#      
breakpoints='{
    "1024": {
        "slidesPerView": "auto",
        "spaceBetween": "50"
    }
}'    
#}

{% set total = items|length %}
{# tweaks for when slider is less than 7 slides #}
{% set loopN = total < 7 ? 7 - total : 1 %}

<article class="slider-default section relative">

	{% include '_blocks/partials/heading' %}

	<div class="slider-default__int" data-animations="{{ {
        transition: 'inview',
        childTarget: '[data-children]'
    }|json_encode }}">
            
        <swiper-container class="slider-default__wrapper swiper-wrapper"
            init="false"
            speed="900"
            grab-cursor="true"
            space-between="30" 
            slides-per-view="auto"
            loop="false"
            centered-slides="false"
            centered-slides-bounds="false"
            slides-offset-before="0"            
        >

            {# loopN pads the item list with repeats — only the very first
               slide of the very first pass is actually visible on load, so
               that's the only one eligible to preload. #}
            {% for i in 1..loopN %}
                {% for item in items %}
                    {# set uid: this comes from the top most parent block#}
                    {% set uid = 'slider-' ~ loop.index ~ '-id-' ~ uid %}

                    <swiper-slide class="slider-default__slide swiper-slide">
                        {% include "_blocks/partials/sliders/sliderPartial" with { item: item, index: loop.index, uid: uid, preloadImage: loop.parent.loop.first and loop.first and (preloadImage ?? false) } only %}
                    </swiper-slide>
                {% endfor %}
            {% endfor %}


            <div slot="container-end">
                <div class="swiper-actions">
                    <div class="swiper-nav-container">
                        <div class="swiper-btn-prev">
                            <span>prev</span>
                            {{ svg("@webroot/assets/graphics/arrow-left.svg")|attr({
                                class: 'swiper-btn-icon',
                            }) }}
                        </div>
                        <div class="swiper-btn-next">
                            <span>next</span>
                            {{ svg("@webroot/assets/graphics/arrow-right.svg")|attr({
                                class: 'swiper-btn-icon',
                            }) }}    
                        </div>
                    </div>

                    <div class="swiper-pag"></div>
                </div>
            </div>

        </swiper-container>
		
	</div>
</article>