<div slot="container-end">
    <div class="swiper-actions">
        <div class="swiper-nav-container">
            <div class="swiper-btn-prev">
                <span>prev</span>
                {{ svg("@webroot/assets/graphics/arrow-left.svg")|attr({
                    class: 'swiper-btn-icon',
                }) }}
            </div>
            <div class="swiper-btn-next">
                <span>next</span>
                {{ svg("@webroot/assets/graphics/arrow-right.svg")|attr({
                    class: 'swiper-btn-icon',
                }) }}    
            </div>
        </div>

        <div class="swiper-pag"></div>
    </div>
</div>