{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set item = item|getItemData %}

<div class="slider-slant__item relative">

    {{format.getLinkAria(item.linkUrl)}}

    {% if item.image %}
    <div data-swiper-material-scale="1.25">
        {{ transform.getImage({
            'asset': item.image,
            'transform': 'card',
            'wrapperClasses': "slider-slant__image-wrapper",
            'classes': "slider-slant__image object-fit",
            'placeholder': true,
            'preload': preloadImage ?? false
        }) }}
    </div>
    {% endif %}

    {#
    <div class="card__info">
        <div class="card__info-int text-center">

            <div>
            {% if heading %}
            <p class="card__heading faux-p-lg">{{ format.basic(heading) }}</p>
            {% endif %}

            {{intro|retconAttr('p', { class: 'card__intro' })|retconAttr('a', { class: 'link' })}}
            </div>

            {% include '_blocks/buttons' with { entry: item, options: {classes:'btn card__btn link'}  } only %}
        </div>
    </div>
    #}
</div>