{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set image = entry.image.collect().first() ?? false %}

{% if image %}
<div class="blog-detail-hero section mt-0 relative">
    <div class="blog-detail-hero__int wrapper">
        {{ transform.getImage({
            'asset': image,
            'transform': 'video',
            'to-lg': 'videoMd',
            'wrapperClasses': "blog-detail-hero__image-wrapper overflow-hidden",
            'classes': "blog-detail-hero__image object-fit",
            'placeholder': false
        }) }}
    </div>
</div>
{% endif %}