{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}



<article class="hero-parallax section-padding relative" data-hero-parallax>
	<div class="hero-parallax__int wrapper">
	
		{{ transform.getImage({
			'asset': entry.backgroundImage|default,
			'transform': 'hero',
			'to-lg': 'heroLg',
			'to-sm': 'heroSm',
			'wrapperClasses': "hero-parallax__image-wrapper",
			'classes': "hero-parallax__image object-fit",
			'placeholder': true
		}) }}

		<div class="hero-parallax__info bg--dark" data-hero-info>
			<div class="hero-parallax__info-int">
				{% if entry.heading|default %}   
					<p class="hero-parallax__heading faux-h2">{{ format.basic(entry.heading) }}</p>
				{% endif %}
				
				{% if entry.intro|default %}
				{{entry.intro|retconAttr('p', { class: 'faux-p-lg hero-parallax__intro' })}}
				{% endif %}

				{% include '_blocks/buttons' with { entry: entry, options: {classes:'btn btn--arrow btn--sm hero-parallax__btn'}  } only %}
				
				{#
				{% if entry.linkUrl|default %}
					{{format.getLink(entry.linkUrl,entry.linkText,'btn btn--arrow btn--sm hero-parallax__btn')}}
				{% endif %}
				#}
				
			</div>
		</div>
	</div>
</article>
