{% import '_utilities/format' as format %}



{% set form = entry.form.one() ?? false %}
{% set background = entry['background']['color'][0]['background']|default('bg--none') %}

{% set defaultAttr = {
    class: [
        'forms form-default',
        background,
        background != 'bg--none' ? 'section-padding bg--dark' : 'section',
    ]
} %}

<article {{attr(defaultAttr)}}>

	{% include '_blocks/partials/heading' %}

	<div class="wrapper">
		{% if form %}
		<form-js>
			{{ craft.formie.renderForm(form)|retconAttr('button', { class: 'btn' }) }}
		</form-js>
		{% else %}
		<p>Unable to locate form</p>
		{% endif %}
	</div>
</article>
